localhost:80 {
	handle_path /emailprep/* {
		reverse_proxy emailprep:5051 {
			header_up X-Forwarded-For {http.request.remote.host}
			header_up X-Forwarded-Proto {http.request.proto}
		}
	}

	reverse_proxy rarbox:5050 {
		header_up X-Forwarded-For {http.request.remote.host}
		header_up X-Forwarded-Proto {http.request.proto}
	}
}
